.scroll-top{
    position: fixed;
    background-color: white;
    display: none;
    color: black;
    right: 10px;
    bottom: 20px;
    padding: 20px;
    cursor: pointer;
    z-index: 9999999;
    &:hover{
        background-color: #42a5f5;
        transform: scale(1.3);
        transition: 0.3s;
        color: white;
    }
    
}
.block.scroll-top {
    display: block;
}