.sidebar-container {
  height: 100vh;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: .6s;
  @media (max-width: 650px) {
    display: flex;
    z-index: 100;
    flex-direction: column;
    align-items: center;
    position: fixed;
    height: 10vh;
    width: 100%;
    top: 0;
    left: 0;
    font-size: 20px;

    &.close {
      @media (max-width: 650px) {
        position: fixed;
        top: -1000px;
        right: -1000px;
        
      }
    }
  }
}
// }
