
.portfolio-container {
  width:100%;
  // height: 100%;
  padding-left: 20px;
  margin-top: 30px;
  color: white;
  
  @media (max-width: 500px) {
    padding-left: 0;
    margin-top: 100px;
 }
  .portfolio-title{
    padding-left: 10px;
    padding-bottom: 25px;
  }
  // margin-top: 130px!important;
  
  @media (max-width: 690px) {
    height: 270%;
    // margin-top: 130px;
  }
  @media (max-width: 375px) {
    height: 270%;
    margin-top: 130px;
  }
  .fa-cog {
    -webkit-animation: fa-spin 2s linear infinite;
    animation: fa-spin 2s linear infinite;
  }
  .portfolio-list {
    display: flex;
    flex-wrap: wrap;
    
    
   &>.portfolio{
     display: flex;
     flex: 0 0 50%;
   }
    @media (max-width: 375px) {
      margin: 0;
   }
    .portfolio {
      height: 20%;
      width: 100%;
      margin-bottom: 50px;
      display: flex;
      flex: 1;
      flex-direction: column;
      margin-left: 10px;
      margin-top: 20px;
      @media (max-width: 690px) {
        width: 70%;
        
      }
      @media (max-width: 500px) {
       
        
      }
      @media (max-width: 1400px) {
        width: 100%;
        
      }
      @media (max-width: 375px) {
        width: 70%;
        
        margin-top:50px;
      }
     
       .p.name{
           font-size: 22px;
       }
      .img-portfolio{
        max-width: 460px;
        padding-right: 10px;
        height: 200px;
        margin-top: 7px;
        background-size: cover;
        object-fit: cover;
        
      
    }
        .git{
           padding: 10px 0;
          
        }
       .git-blue{
          color: #42a5f5 ;
      }
    }
  }
  
}
.role{
  text-decoration: underline;
  color: red;
}
.size{
  margin: 10px 0;
}
.modal-image{
  max-height: 150px !important;
}








