.shape-outer {
  display: flex;
  flex-shrink: 0;
  height: calc(150px + 4vw);
  width: calc(150px + 4vw);
  margin: 25px;
  background-image: linear-gradient(to bottom right, #ff3cac, #562b7c, #2b86c5);
}

.shape-inner {	
  height: calc(130px + 4vw);
  width: calc(130px + 4vw);
  
  background-size: cover;
  margin: auto;
 
  
}

  .circle {
    -webkit-clip-path: circle(50% at 50% 50%);
    		clip-path: circle(50% at 50% 50%);
}



.shape-inner.circle.open{
  @media (max-width: 650px) {
    position: absolute;
    top: 16px;
    right: 404px;
    z-index: 111111;
    background-color: white;
    padding: 10px;
    cursor: pointer;
    border-radius: 40%;
    width: 20px;
    height: 23px;
 }
}