.icon-img{
    height: 120px;
    width: 120px;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
    
    background-color: #302244;
  border: 10px solid gray;
  border-image: linear-gradient(#b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%);
  border-image-slice: 1;
  height: 200px;
  margin: 20px auto;
  width: 200px;
    
}

