.certificate-container{
    color: whitesmoke;
    background-color: black;
    display: flex;
    flex-direction: column;
    padding: 100px 20px;
    li{
        padding: 10px 0;
        text-decoration: none;
        list-style: none;
        a{
            &:hover{
                color: #42a5f5;
            }
        }
    }
    
}
